<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>eAccessible2pWeb</display-name>
  <welcome-file-list>
    <welcome-file>createLocal.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>JSPLocal</display-name>
    <servlet-name>JSPLocal</servlet-name>
    <jsp-file>/JSPLocal.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSPLocal</servlet-name>
    <url-pattern>/JSPLocal</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>JSPUsuari</display-name>
    <servlet-name>JSPUsuari</servlet-name>
    <jsp-file>/JSPUsuari.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSPUsuari</servlet-name>
    <url-pattern>/JSPUsuari</url-pattern>
  </servlet-mapping>
  
</web-app>